.layers-container{
    position: absolute;
    /* width: 100%; */
    padding: 2px 20px;
    display: flex;
    bottom: 10px;
    left:  10px;
    align-items: center;
    z-index: 1000;
  background-color: rgb(26, 26, 26, 0.8);
  border-radius: 15px;
}
.label{
    font-family: cursive;
    color: white;
}
.form-switch{
    scale: 0.9;
    margin:0px 5px;
}